/*---varirable-----*/
:root{
    --theme-color:skyblue;
}

/*---main styles-----*/
*{
    margin: 0;
}

nav ul{
    
    padding:0px;
}

#header{
    padding: 10px;
    text-align: center;
    color:var(--theme-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#barnner{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
   background-color:var(--theme-color);
   height: 300px;
}
#swathces{
     background-color:#eee;
     display: flex;
}
.swatches-span{
    width: 5px;
    display: block;
    height: 5px;
    border: 1px solid #fff;
    padding: 10px;
}
.swatches-span:hover{
    cursor: pointer;
}
article h2{
    color: var(--theme-color);
    text-align:center;
    margin-bottom: 10px;
}
article{
    width: 50%;
    margin: 0 auto;
    margin-top:-50px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid var(--theme-color);
    box-shadow: 0.2px 0px 1px 0px var(--theme-color);
}